<div class="container">
  <h1>Student Detail</h1>
  <h4>Roll Number:</h4>
  <%=student.roll %>
  <br />
  <h4>Name:</h4>
  <%=student.name %>

  <br />
  <br />
  <a href="/student/all" class="">
    <i class="fas fa-home" style="color:green">View List</i>
  </a>
</div>
